body {
    margin: 0 auto;
}
.negativ {
    color: red;
}

.positiv {
    color: black;
}

.container {
    justify-content: center;
    text-align: center;
}

.user-input {
    border: #C0C0C0 solid 6px;
    border-radius: 15px;
    padding: 0;
    text-align: center;
    font-size: 100%;
    min-width: 7em;
    min-height: 6em;
}

#result {
    font-size: 10em;
    text-align: center;
}

.button {
    margin: 0 0.25em;
    border-radius: 15px;
    background-color: #C0C0C0;
    color: white;
    font-size: 7em;
    height: 1em;
    width: 1em;
    vertical-align: middle;
    line-height: 0em;
    padding-bottom: 0.25em;
}
.button:hover {
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 0;
    color: #C0C0C0;
    padding-bottom: 0.25em;
}